.home-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 31px 31px 51px 31px;

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 312px;
        height: 100px;
        border: 3px solid hsl(217, 16%, 45%);
        border-radius: 5px;

        .instruments-of-war {
            margin: 0 22px;
            li {
                list-style: none;
               line-height: 0.8;
            }
        }

        .score-container {
            margin: 0 12px;
            border: 1px solid white;
            border-radius: 5px;
            background-color: white;
            width: 80px;
            height: 72px;
            text-align: center;
            line-height: 0.9;
            padding: 10px 24px;

            h1 {
                color: hsl(229, 64%, 46%);
                font-size: 12px;
                font-weight: 600;
            }

            p {
               color: hsl(229, 25%, 31%); 
               font-size: 40px;
            }
        }
    }

    .weapons-container {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-areas:
        "paper scissors"
        "rock rock";
        grid-row-gap: 15px;
        grid-column-gap: 50px;
        margin: 100px 0 138px 0;

        .weapon-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 130px;
            height: 132px;
            border-radius: 50%;
            border-color: transparent;
            .weapon-container {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 102px;
                height: 98px;
                border-radius: 50%;
                background-color: white;
                box-shadow: 0px -3px 0px 1px #b9bcce;
            }
            
        }

        #weapon-of-war-paper {
            grid-area: paper;
            background: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
            box-shadow: 0px 6px 0px 0px #2a45bf;
        }

        #weapon-of-war-scissors {
            grid-area: scissors;
            background: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
            box-shadow: 0px 6px 0px 0px #c46b18;
        }

        #weapon-of-war-rock {
            align-self: center;
            justify-self: center;
            grid-area: rock;
            background: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
            box-shadow: 0px 6px 0px 0px #9f1736;
        }
    }

    .rules-btn-container {
        width: 129px;
        height: 43px;

        button {
            width: inherit;
            height: inherit;
            background-color: transparent;
            color: #f8feff;
            border: 2px solid #8891a9;
            border-radius: 5px;
            font-weight: 600;
            letter-spacing: 2.3px
        };
        
    }
}