.rules-btn-container {
    width: 129px;
    height: 43px;

    button {
        width: inherit;
        height: inherit;
        background-color: transparent;
        color: #f8feff;
        border: 2px solid #8891a9;
        border-radius: 10px;
        font-weight: 500;
        letter-spacing: 2.3px
    };
    
}

.rules-section {
    height: 100dvh;
    text-align: center;
    background-color: white;

    h1 {
        padding-top: 100px;
        color: black;
        font-size: 28px;
    }

    .rules-explanation {
        margin: 120px 0 150px 0;
    }

    button {
        border-color: transparent;
        background-color: transparent;
    }
}